<div class="containar">
 <div class="row no-gutters">
   <h3 class="mt-3"><strong>本当に退会しますか？</strong></h3>
   
    <p>退会すると､会員登録情報や</p>
    <p>これまでの購入履歴が閲覧できなくなります。</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
    <p></p>
        
    <%= link_to "退会しない", customers_mypage_path, class: "btn btn-sm btn-primary" %>    <%= link_to "退会する", customers_quit_path, class: "btn btn-sm btn-danger", :method => :patch %>
  
  </div>
</div>