<div class="container">
    <div class="d-flex justify-content-between">
        <h2><span class="badge bg-secondary text-white mb-3 ">ショッピングカート</span></h2>
        <button type="button" class="btn btn-danger"  style="height: 40px;">カートを空にする</button>
    </div>
        <div class="col-md-12 ">
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th colspan="col">商品名</th>
                        <th scope="col">単価</th>
                        <th scope="col">数量</th>
                        <th scope="col">小計</th>
                        <th scope="5"></th>
                    </tr>
                </thead>
                <% @cart_items.each do |f| %>
    
                <tbody>
                    <tr>
                        <td class="col">
                        　　商品名
                        </td>
                        <td class="col">
                        　　単価
                        </td>
                        <td class="col">
                        　　数量
                        </td>
                        <td class="col">
                            小計
                        </td>
                        <td class="col">
                        <%=  link_to send_addresses_path,  method: :delete,class:"btn btn-danger ml-3"  do %>削除<% end %>
                        </td>
                    </tr>
                </tbody>
                <% end %>
            </table>
            <div class="row mb-3">
                    <%= link_to root_path,class:"btn btn-primary" do %>
                    買い物を続ける
                    <% end %>
                    <div class="col-md-7 themed-grid-col">
                            
                    </div>
                    
                    <div class="col-md-3 themed-grid-col ">
                        <table class="table table-bordered">
                            <th colspan="col">商品名</th>
                            <th colspan="col">単価</th>
                        </table>
                    </div>
                    
            </div>
            <%= link_to "#",class:"btn btn-success" do %>情報入力に進む<% end %>
</div>